analytical_set_full.csv
new_show_analytical_set_full.csv
covers.csv
new_show_set_charactersitics.csv
set_charactersitics.csv
show_tourid_statefix.csv
show_venue_characteristics.csv
venues_geo.csv
albums.xlsx
birthdays.xlsx
jamcharts.csv
setlists.csv
shows.csv
songs.csv
venues.csv
final_mdl_obj.sav
analytical_set_full_trn.csv




